<nav  class="navbar navbar-dark bg-primary">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="/">
        <img src="../../img/logo.png" style="width: 45px;">
      </a>
    </li>
    <% categories.forEach(category => { %>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/category/<%= category.slug %>"><%= category.title %></a>
      </li>
    <% }) %>
  </ul>
</nav>