<nav  class="navbar navbar-dark bg-primary">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active">Blog</a>
    </li>
    <% categories.forEach(category => { %>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/category/<%= category.slug %>"><%= category.title %></a>
      </li>
    <% }) %>
  </ul>
</nav>